*{
    margin: 0;
    padding: 0;
}

/* heading */
h1{
    text-align: center;
    background-color: #0B0014;
    color: white; 
    height: 10vh;
    line-height: 10vh;
}
#play{
    height: 5vh;
}
img{
    border-radius: 80%;
}

.options{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 4rem;
    background-color: antiquewhite;
}

/* options */
.rock{
    display: flex;
    align-items: center;
    
}
.rock:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    
}
.paper{
    display: flex;
    align-items: center;
    
}
.paper:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}
.scissors{
    display: flex;
    align-items: center;
}
.scissors:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
}



.score-board{
    display: flex;
    justify-content: center;
    height: 10vh;
    margin-top: 2rem;
    gap: 20px;
}
.user-score{
    width: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.comp-score{
    width: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    

}
#msg{
    height: 5rem;
    width: 15rem;
    background-color: #0B0014;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif
}

p{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif
}
